@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans JP', sans-serif;
  /*   */
  background-image: url("../img/bg.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container{
    width:940px ;
    background-color: aliceblue;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.6);
    min-height: 350px;
    padding: 80px 90px;
    border-radius: 15px;
    display: flex;
}
.leftside, 
.rightside{
    width: 50%;
    display: inline;
}

.leftside img{
    height: 300px;
    width: 300px;
}

.rightside h1{
    color: rgb(3, 41, 75);
    font-family: 'Sansita Swashed', cursive;
}

.rightside h2{
    color: rgb(6, 103, 110);
    font-size: 1.5rem;
    margin: 20px auto 10px;
}

.rightside ul{
    margin: 20px auto 10px;
    font-size: 1.2rem;
    font-weight: 600;
    list-style-type: circle;
    list-style-position: inside;

}

.rightside ul li{
    margin-top: 8px;
}

.rightside a{
    display: inline-block;
    background: linear-gradient(180deg, rgb(69, 69, 201), rgb(31, 134, 175));
    color: aliceblue;
    border-radius: 100px;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    margin-top: 25px;
    text-decoration: none;
    outline: none;
}

.rightside a:hover{
    background: linear-gradient(90deg, rgb(31, 134, 175),rgb(69, 69, 201));
    font-size:15px;
}
.box{
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow:10px 10px 10px 10px rgba(0,0,0,0.6);
    min-height: 350px;
    width: 640px;
    padding: 50px;
}

.title{
    border-bottom: 1px solid#4444;
    color: black;
    padding-bottom: 10px;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 24px;
}

.header{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.scoreBox,
.timerBox{
    border-radius: 100px;
    padding: 10px 15px;
    border: 1px solid black;
    color: black;
}

.questionBox{
    background: linear-gradient(180deg, rgb(76, 76, 211), rgb(8, 49, 65));
    color: white;
    border-radius: 10px;
    padding: 10px 15px;
}

.optionBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px 0;
    grid-gap: 15px;
}
.optionBox span{
    background-color: gray;
    border-radius: 10px;
    color: rgb(37, 36, 36);
    border: 1px solid rgb(43, 41, 41);
    padding: 10px 15px;
}

.optionBox span:hover{
    background-color: gray;
}


.footer{
    display: flex;
    justify-content: space-between;
}

.footer button{
    background-color: #1da3dd;
    border-radius: 5px;
    padding: 7px 15px;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 20px;
}

.footer button:hover{
    background: linear-gradient(180deg,  rgb(31, 134,  175),rgb(69, 69, 201));
}

.resultBox{
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 15px;
    font-size: 20px;
}

.resultBox *:nth-child(odd){
    text-align: right;
}

.resultBox span{
    font-weight: 550;
}

.buttonBox{
    border-top: 1px solid #4444;
    text-align: center;
}

.buttonBox a{
    background-color: #1da3dd;
    border-radius: 50px;
    border: 0;
    text-decoration: none;
    color:#fff;
    outline: none;
    padding: 7px 15px;
    margin-top: 30px;
    display: inline-block;
}
.optionBox span.right{
    background-color: #00ab00;
    border-color:#00ab00;
    color: #fff 
}
.optionBox span.wrong{
    background-color:#ff3b0e;
    border-color:#ff3b0e;
    color: #fff 
}
@media screen and (max-width: 768px){
    .leftside{
        display: none;
    }
    .container,
    .box{
        width:425px;
    }

    .rightside{
        width: 100%;
    }

    
    .optionbox{
        grid-template-columns: 1fr;
    }
}